solutions/coe_pulse_core/src/Workflows/Get-RandomMakerFeedback-DA2CA4DD-8D89-EC11-93B0-000D3AD4A7D0.json
{"properties":{"connectionReferences":{"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr7e5_sharedoffice365users_b12a2"},"api":{"name":"shared_office365users"}},"shared_teams":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr7e5_MicrosoftTeams"},"api":{"name":"shared_teams"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr7e5_MicrosoftDataverse"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2022-02-09T10:00:00Z"},"metadata":{"operationMetadataId":"dfeb2193-c930-41bf-858d-9870948393e3"},"type":"Recurrence","description":"Runs every day"}},"actions":{"strUserId":{"runAfter":{},"metadata":{"operationMetadataId":"604ba6b2-9c07-41c3-9742-982ce69fe498"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strUserId","type":"string"}]}},"Get_user_profile_(V2)":{"runAfter":{"Do_until":["Succeeded"]},"metadata":{"operationMetadataId":"4de76346-ccf4-44db-b47c-1cb4a977b52c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@variables('strUserId')"},"authentication":"@parameters('$authentication')"}},"ContactMaker":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"b0529233-3d9f-4138-adc2-9333b1e73f45"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"We need your feedback\",\n                    \"wrap\": true,\n                    \"fontType\": \"Default\",\n                    \"size\": \"Large\",\n                    \"weight\": \"Bolder\",\n                    \"color\": \"Attention\",\n                    \"isSubtle\": false\n                }\n            ]\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"As a maker of Power Apps, we really value your feedback, and as part of our commitment to continually improve our service, we would appreciate it if you could let us know how we are doing? What can we do better, what are we doing well and what do you need?\",\n                    \"wrap\": true,\n                    \"spacing\": \"Large\",\n                    \"horizontalAlignment\": \"Left\",\n                    \"fontType\": \"Default\",\n                    \"size\": \"Medium\",\n                    \"color\": \"Dark\",\n                    \"isSubtle\": false\n                },\n                {\n                    \"type\": \"Container\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Please provide your feedback below:\",\n                            \"wrap\": true\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"Input.Text\",\n            \"isMultiline\": true,\n            \"id\": \"makerFeedback\"\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"ActionSet\",\n                            \"actions\": [\n                                {\n                                    \"type\": \"Action.Submit\",\n                                    \"title\": \"Submit\"\n                                }\n                            ]\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"Input.Toggle\",\n                            \"title\": \"Don't ask again\",\n                            \"id\": \"makerOptOut\",\n                            \"value\": \"false\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}","body/body/updateMessage":"Thanks for your response!","body/body/recipient/to":"@{outputs('Get_user_profile_(V2)')?['body/userPrincipalName']};"},"authentication":"@parameters('$authentication')"}},"MakerOptOut":{"actions":{"OptOut-AddRow":{"runAfter":{},"metadata":{"operationMetadataId":"d56c8aa3-be9e-4185-9bd4-985b59338fd5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr7e5_pulsedatas","item/cr7e5_verbatim":"@outputs('ContactMaker')?['body/data/makerFeedback']","item/cr7e5_optout":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"ContactMaker":["Succeeded"]},"else":{"actions":{"OptIn-AddRow":{"runAfter":{},"metadata":{"operationMetadataId":"a8b02dba-e0fe-444e-a5f9-92b087ce3735"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr7e5_pulsedatas","item/cr7e5_verbatim":"@outputs('ContactMaker')?['body/data/makerFeedback']","item/cr7e5_optout":false},"authentication":"@parameters('$authentication')"}},"Analyze_positive_or_negative_sentiment_in_text":{"runAfter":{"OptIn-AddRow":["Succeeded"]},"metadata":{"operationMetadataId":"6a8d28da-a53d-41f6-9cfa-ac35dead4194","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_sentimentanalysis","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://psuxunitedkingdom.azureedge.net/Content/Images/DesignerOperations/aiBuilder.png","portalOperationBrandColorOverride":"#742775","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_sentimentanalysis","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"item/requestv2/language":"en","item/requestv2/text":"@outputs('ContactMaker')?['body/data/makerFeedback']"},"authentication":"@parameters('$authentication')"}},"Extract_the_key_phrases_from_text":{"runAfter":{"OptIn-AddRow":["Succeeded"]},"metadata":{"operationMetadataId":"74574ccb-15b2-4424-8e97-eeb4378ad111","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_keyphraseextraction","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://psuxunitedkingdom.azureedge.net/Content/Images/DesignerOperations/aiBuilder.png","portalOperationBrandColorOverride":"#742775","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_keyphraseextraction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"item/requestv2/language":"en","item/requestv2/text":"@outputs('ContactMaker')?['body/data/makerFeedback']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Extract_the_key_phrases_from_text')?['body/responsev2/predictionOutput/results']","actions":{"UpdateRow":{"runAfter":{},"metadata":{"operationMetadataId":"99038f1b-f255-4e85-bc05-e1822ab57047"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr7e5_pulsedatas","recordId":"@outputs('OptIn-AddRow')?['body/cr7e5_pulsedataid']","item/cr7e5_keyphrase":"@items('Apply_to_each')?['phrase']","item/cr7e5_sentiment":"@outputs('Analyze_positive_or_negative_sentiment_in_text')?['body/responsev2/predictionOutput/result/sentiment']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Analyze_positive_or_negative_sentiment_in_text":["Succeeded"],"Extract_the_key_phrases_from_text":["Succeeded"]},"metadata":{"operationMetadataId":"e569033f-8e27-4ae9-b2a1-55a35133d24a"},"type":"Foreach"}}},"expression":{"equals":["",true]},"metadata":{"operationMetadataId":"2d01c675-689d-4fc2-b8c6-a2a34b0a35f1"},"type":"If","description":"Checking if the maker wants to opt out"},"Do_until":{"actions":{"ListRows-AppMakers":{"runAfter":{},"metadata":{"operationMetadataId":"1b65187f-99c2-43da-badd-558830ad2c50"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr7e5_appmakerses"},"authentication":"@parameters('$authentication')"},"description":"Retrieving all makers"},"Compose-SelectRandom":{"runAfter":{"ListRows-AppMakers":["Succeeded"]},"metadata":{"operationMetadataId":"7f1060ca-1c99-4210-8a08-3319d8cd5f5f"},"type":"Compose","inputs":"@body('ListRows-AppMakers')?['value'][rand(1,length(body('ListRows-AppMakers')?['value']))]","description":"Randomly selecting one maker from the list to solicit feedback."},"Set_strUserId":{"runAfter":{"Compose-SelectRandom":["Succeeded"]},"metadata":{"operationMetadataId":"785b2dcf-653a-47f5-bad3-8c7feb05f593"},"type":"SetVariable","inputs":{"name":"strUserId","value":"@{outputs('Compose-SelectRandom')?['cr7e5_name']}"}},"ListRows-UserOptOut":{"runAfter":{"Set_strUserId":["Succeeded"]},"metadata":{"operationMetadataId":"49b724e7-bbbe-4fff-8e0f-34aa55f7187a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr7e5_pulsedatas","$filter":"cr7e5_name eq '@{variables('strUserId')}' and cr7e5_optout eq false"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"ListRows-UserOptOut":["Succeeded"]},"metadata":{"operationMetadataId":"cfaca7cf-c5eb-43af-967d-82f50c9d008d"},"type":"Compose","inputs":"@length(body('ListRows-UserOptOut')?['value'])"}},"runAfter":{"intOptOutCount":["Succeeded"]},"expression":"@greater(outputs('Compose'), 0)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"f3bc4077-f545-4fa5-be58-d5ad33922f1a"},"type":"Until","description":"We get a random app maker, check the opt-out from comms value until we find someone that hasn't (opted out)"},"intOptOutCount":{"runAfter":{"strUserId":["Succeeded"]},"metadata":{"operationMetadataId":"b54da534-ebf1-4695-8cb9-faba911a4711"},"type":"InitializeVariable","inputs":{"variables":[{"name":"intOptOutCount","type":"integer"}]}}}}},"schemaVersion":"1.0.0.0"}