solutions/coe_pulse_core/src/Workflows/Get-RandomMakerFeedback-DA2CA4DD-8D89-EC11-93B0-000D3AD4A7D0.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr7e5_MicrosoftDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr7e5_sharedoffice365users_b12a2"},"api":{"name":"shared_office365users"}},"shared_teams":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr7e5_MicrosoftTeams"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2022-02-09T10:00:00Z"},"metadata":{"operationMetadataId":"dfeb2193-c930-41bf-858d-9870948393e3"},"type":"Recurrence","description":"Runs every day"}},"actions":{"ListRows-AppMakers":{"runAfter":{"strUserId":["Succeeded"]},"metadata":{"operationMetadataId":"1b65187f-99c2-43da-badd-558830ad2c50"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr7e5_appmakerses"},"authentication":"@parameters('$authentication')"},"description":"Retrieving all makers"},"Compose-SelectRandom":{"runAfter":{"ListRows-AppMakers":["Succeeded"]},"metadata":{"operationMetadataId":"7f1060ca-1c99-4210-8a08-3319d8cd5f5f"},"type":"Compose","inputs":"@body('ListRows-AppMakers')?['value'][rand(1,length(body('ListRows-AppMakers')?['value']))]","description":"Randomly selecting one maker from the list to solicit feedback."},"strUserId":{"runAfter":{},"metadata":{"operationMetadataId":"604ba6b2-9c07-41c3-9742-982ce69fe498"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strUserId","type":"string"}]}},"Set_strUserId":{"runAfter":{"Compose-SelectRandom":["Succeeded"]},"metadata":{"operationMetadataId":"785b2dcf-653a-47f5-bad3-8c7feb05f593"},"type":"SetVariable","inputs":{"name":"strUserId","value":"@{outputs('Compose-SelectRandom')?['cr7e5_name']}"}},"Get_user_profile_(V2)":{"runAfter":{"List_rows_-_check_if_user_opted_out_from_communications":["Succeeded"]},"metadata":{"operationMetadataId":"4de76346-ccf4-44db-b47c-1cb4a977b52c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@variables('strUserId')"},"authentication":"@parameters('$authentication')"}},"Post_adaptive_card_and_wait_for_a_response":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"b0529233-3d9f-4138-adc2-9333b1e73f45"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"We need your feedback\",\n                    \"wrap\": true,\n                    \"fontType\": \"Default\",\n                    \"size\": \"Large\",\n                    \"weight\": \"Bolder\",\n                    \"color\": \"Attention\",\n                    \"isSubtle\": false\n                }\n            ]\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"As a maker of Power Apps, we really value your feedback, and as part of our commitment to continually improve our service, we would appreciate it if you could let us know how we are doing? What can we do better, what are we doing well and what do you need?\",\n                    \"wrap\": true,\n                    \"spacing\": \"Large\",\n                    \"horizontalAlignment\": \"Left\",\n                    \"fontType\": \"Default\",\n                    \"size\": \"Medium\",\n                    \"color\": \"Dark\",\n                    \"isSubtle\": false\n                },\n                {\n                    \"type\": \"Container\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Please provide your feedback below:\",\n                            \"wrap\": true\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"Input.Text\",\n            \"placeholder\": \"Placeholder text\",\n            \"isMultiline\": true,\n            \"id\": \"makerFeedback\"\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"ActionSet\",\n                            \"actions\": [\n                                {\n                                    \"type\": \"Action.Submit\",\n                                    \"title\": \"Submit\"\n                                }\n                            ]\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"Input.Toggle\",\n                            \"title\": \"Don't ask again\",\n                            \"id\": \"makerOptOut\",\n                            \"value\": \"false\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}","body/body/updateMessage":"Thanks for your response!","body/body/recipient/to":"@{outputs('Get_user_profile_(V2)')?['body/mail']};"},"authentication":"@parameters('$authentication')"}},"List_rows_-_check_if_user_opted_out_from_communications":{"runAfter":{"Set_strUserId":["Succeeded"]},"metadata":{"operationMetadataId":"49b724e7-bbbe-4fff-8e0f-34aa55f7187a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr7e5_pulsedatas","$filter":"cr7e5_name eq '@{variables('strUserId')}' and cr7e5_optout eq false"},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}